@page "/"
@using NS12.VariableBase.Mathematics.Common.Interfaces
@using NS12.VariableBase.Mathematics.Providers
@using NS12.VariableBase.Mathematics.Providers.MathEnvironments
@using VariableBase.Mathematics.Common.Models

<PageTitle>Calculator</PageTitle>

<h1>Full Precision Calculator</h1>
<div class="calculator">
    <table>
        <tr>
            <td>
                Radix / Number System
            </td>
            <td>
                <select id="ddlRadix" @bind="@ddlRadix_value">
                    <option value="2">Binary</option>
                    <option value="3">Ternary</option>
                    <option value="5">Quinary</option>
                    <option value="6">Senary</option>
                    <option value="8">Octal </option>
                    <option value="10" selected="selected">Decimal</option>
                    <option value="16">Hexadecimal</option>
                    <option value="36">Hexatridecimal</option>
                    <option value="63404">Radix 63404</option>
                </select>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                Action
            </td>
            <td>
                <select id="ddlAction" @bind="@ddlAction_value">
                    <option value="Add" selected="selected">Add</option>
                    <option value="Subtract">Subtract</option>
                    <option value="Multiply">Multiply</option>
                    <option value="Divide">Divide</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="calculator-input">
        <h3 style="width:100%;background-color:lightgray">First Number</h3>
        <table style="width:90%;">
            <thead>
                <tr>
                    <th>
                        Whole Number
                    </th>
                    <th>
                        Fraction
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">
                        <textarea placeholder="Whole Number" style="width:100%;height:150px;" id="txtCalculatorFirst" class="calculator" @bind="@calculatorFirstRaw" />
                    </td>
                    <td>
                        <textarea placeholder="Numerator" style="width:100%;height:75px;" iid="txtCalculatorFirstNumerator" class="calculator" @bind="@calculatorFirstRawNumerator" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea placeholder="Denominator" style="width:100%;height:75px;" i id="txtCalculatorFirstDenominator" class="calculator" @bind="@calculatorFirstRawDenominator" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="calculator-input">
        <h3 style="width:100%;background-color:lightgray">Second Number</h3>
        <table style="width:90%;">
            <thead>
                <tr>
                    <th>
                        Whole Number
                    </th>
                    <th>
                        Fraction
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">
                        <textarea placeholder="Whole Number" style="width:100%;height:150px;" iid="txtCalculatorSecond" class="calculator" @bind="@calculatorSecondRaw" />
                    </td>
                    <td>
                        <textarea placeholder="Numerator" style="width:100%;height:75px;" iid="txtCalculatorSecondNumerator" class="calculator" @bind="@calculatorSecondRawNumerator" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea placeholder="Denominator" style="width:100%;height:75px;" iid="txtCalculatorSecondDenominator" class="calculator" @bind="@calculatorSecondRawDenominator" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button style="width:90%;color:darkgreen;border:solid 1px darkgreen" id="btnGoClicked" @onclick="btnGoClicked" class="calculator calculator-symbol">Go</button>
    <div class="calculator-result">
        <h3 style="width:100%;background-color:lightgray">Result</h3>
        <table style="width:90%;">
            <thead>
                <tr>
                    <th width="100">
                        @if (isNegative)
                        {
                            <span style="color:darkred">Negative</span>
                        }
                    </th>
                    <th>
                        Whole Number
                    </th>
                    <th>
                        Fraction
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2" align="right" valign="middle">
                        @if (isNegative)
                        {
                            <div style="font-size:64px;font-weight:bolder;color:red;text-align:right;">-</div>
                        }
                    </td>
                    <td rowspan="2">
                        <textarea readonly="readonly" placeholder="Whole Number Result" style="width:100%;height:150px;" id="txtCalculatorOutputWhole" class="calculator-result-whole" @bind="@resultWholeRaw" />
                    </td>
                    <td>
                        <textarea readonly="readonly" placeholder="Numerator Result" style="width:100%;height:75px;" id="txtCalculatorOutputNumerator" class="calculator-result-numerator" @bind="@resultNumeratorRaw" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea readonly="readonly" placeholder="Denominator Result" style="width:100%;height:75px;" id="txtCalculatorOutputDenominator" class="calculator-result-denominator" @bind="@resultDenominatorRaw" />
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div>
    [
    <a href="https://github.com/MichaelKappel/Variable-Base-Math"
       Title="Written Michael Joseph Kappel Available on GitHub">
        View Source Code on Github
    </a>
    ]
</div>

@code {

    String ddlAction_value = "Add";
    String ddlRadix_value = "10";

    String calculatorFirstRaw = "";
    String calculatorFirstRawNumerator = "";
    String calculatorFirstRawDenominator = "";

    String calculatorSecondRaw = "";
    String calculatorSecondRawNumerator = "";
    String calculatorSecondRawDenominator = "";

    String resultWholeRaw = "";
    String resultNumeratorRaw = "";
    String resultDenominatorRaw = "";
    Boolean isNegative = false;

    public void btnGoClicked()
    {

        resultWholeRaw = String.Empty;
        resultNumeratorRaw = String.Empty;
        resultDenominatorRaw = String.Empty;
        isNegative = false;

        IMathEnvironment<Number> environment;

        if (ddlRadix_value == "2")
        {
            environment = new CharMathEnvironment("01");
        }
        else if (ddlRadix_value == "3")
        {
            environment = new CharMathEnvironment("012");
        }
        else if (ddlRadix_value == "5")
        {
            environment = new CharMathEnvironment("01234");
        }
        else if (ddlRadix_value == "5")
        {
            environment = new CharMathEnvironment("01234567");
        }
        else if (ddlRadix_value == "10")
        {
            environment = new CharMathEnvironment("0123456789");
        }
        else if (ddlRadix_value == "16")
        {
            environment = new CharMathEnvironment("0123456789abcdef");
        }
        else
        {
            environment = new CharMathEnvironment("0123456789abcdefghijklmnopqrstuvwxyz");
        }

        Number firstNumber = environment.GetNumber(calculatorFirstRaw, calculatorFirstRawNumerator, calculatorFirstRawDenominator);

        Number secondNumber = environment.GetNumber(calculatorSecondRaw, calculatorSecondRawNumerator, calculatorSecondRawDenominator);

        Number result;

        if (ddlAction_value == "Add")
        {
            result = firstNumber + secondNumber;
        }
        else if (ddlAction_value == "Subtract")
        {
            result = firstNumber -= secondNumber;
        }
        else if (ddlAction_value == "Multiply")
        {
            result = firstNumber * secondNumber;
        }
        else
        {
            result = firstNumber / secondNumber;
        }

        result = Number.Reduce(result);

        resultWholeRaw = result.Whole.ToString().Replace(" ", "");
        if (result.Fragment == null)
        {
            resultNumeratorRaw = String.Empty;
            resultDenominatorRaw = String.Empty;
        }
        else
        {
            resultNumeratorRaw = result.Fragment.Numerator.ToString().ToString().Replace(" ", "");
            resultDenominatorRaw = result.Fragment.Denominator.ToString().ToString().Replace(" ", "");
        }
        isNegative = result.IsNegative;
    }

}